.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 6px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #a552f6;
    color: white;
    margin-top: 20px;
}