.sections {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.button {
  width:  150px;
  height: 30px;
}